<h1>My tasks</h1>


<% @tasks.each do |task|%>
  <% if task.completed %>
    <input type="checkbox" checked > <%= link_to  task.title, task_path(task) %><br>

  <% else %>
    <input type="checkbox" > <%= link_to  task.title, task_path(task) %><br>
  <% end %>
  <%= link_to "Delete this task", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <br>
<% end %>

<%= link_to  "add new task", new_task_path %>

